<div class="wrapper">

    <mat-drawer-container>

        <mat-drawer #drawer
                    opened="opened"
                    class="mat-elevation-z2"
                    mode="side">

            <ngxux-mat-vertical-toolbar></ngxux-mat-vertical-toolbar>

        </mat-drawer>

        <mat-drawer-content>

            <ngxux-mat-toolbar class="mat-elevation-z4"
                               title="ACME, Inc."
                               subtitle="Administration"></ngxux-mat-toolbar>

            <div class="content">

                <div class="table mat-elevation-z5">

                    <ngxux-mat-table title="My Table"
                                     [headerShow]="true"
                                     [columns]="columns"
                                     [searchShow]="true"
                                     [addShow]="true"
                                     [removeShow]="true"
                                     [headerSticky]="true"
                                     (rowClick)="rowClicked($event)"
                                     [data]="data"></ngxux-mat-table>

                </div>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
